@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:100%">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#337ab7;color:#ffffff;"><span style="font-size:18px;">信息检索</span></div>
                    <div class="panel-body clear-padding-all">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">检索项</span>
                            <select class="form-control">
                                <option value="1">北京</option>
                                <option value="1">天津</option>
                                <option value="1">河北</option>
                                <option value="1">山西</option>
                                <option value="1">河南</option>
                                <option value="1">湖南</option>
                            </select>
                        </div>
                        <div class="fill-top-space"></div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">检索词</span>
                            <input type="text" class="form-control" style="width:150px;" placeholder="检索词">
                            <button type="button" class="btn btn-default" style="height:30px;">检索</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#337ab7;color:#ffffff;"><span style="font-size:18px;">主办单位</span></div>
                    <div class="panel-body clear-padding-all" style="height:65px;">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">北京大学信息管理系</a></li>
                            <li class="list-group-item"><a href="#">小微企业家自主创新发展协会(筹)</a></li>
                            <li class="list-group-item"><a href="#">美国青树教育基金会</a></li>
                            <li class="list-group-item"><a href="#">北京天下溪教育咨询中心</a></li>
                            <li class="list-group-item"><a href="#"> 东莞图书馆</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-9 clear-padding-all">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#337ab7;color:#ffffff;"><span style="font-size:18px;">所有成员列表</span></div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="media-list">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" style="width:90px;height:60px;" src="~/Images/timg.jpg" alt="通用的占位符图像" />
                                    </a>
                                    <a><h5>杰伊沃克私人图书馆</h5></a>
                                    <div class="media-body">
                                        <h6>在美国东北部康乃迪克州，有一座3层楼高、330平方米的私人图书馆——杰伊?沃克私人图书馆。这座图书馆比起一些公立图书馆来，虽然不够大，但是却足够有意思。</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media-list">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" style="width:90px;height:60px;" src="~/Images/timg.jpg" alt="通用的占位符图像" />
                                    </a>
                                    <a><h5>杰伊沃克私人图书馆</h5></a>
                                    <div class="media-body">
                                        <h6>在美国东北部康乃迪克州，有一座3层楼高、330平方米的私人图书馆——杰伊?沃克私人图书馆。这座图书馆比起一些公立图书馆来，虽然不够大，但是却足够有意思。</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media-list">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" style="width:90px;height:60px;" src="~/Images/timg.jpg" alt="通用的占位符图像" />
                                    </a>
                                    <a><h5>杰伊沃克私人图书馆</h5></a>
                                    <div class="media-body">
                                        <h6>在美国东北部康乃迪克州，有一座3层楼高、330平方米的私人图书馆——杰伊?沃克私人图书馆。这座图书馆比起一些公立图书馆来，虽然不够大，但是却足够有意思。</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media-list">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" style="width:90px;height:60px;" src="~/Images/timg.jpg" alt="通用的占位符图像" />
                                    </a>
                                    <a><h5>杰伊沃克私人图书馆</h5></a>
                                    <div class="media-body">
                                        <h6>在美国东北部康乃迪克州，有一座3层楼高、330平方米的私人图书馆——杰伊?沃克私人图书馆。这座图书馆比起一些公立图书馆来，虽然不够大，但是却足够有意思。</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media-list">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" style="width:90px;height:60px;" src="~/Images/timg.jpg" alt="通用的占位符图像" />
                                    </a>
                                    <a><h5>杰伊沃克私人图书馆</h5></a>
                                    <div class="media-body">
                                        <h6>在美国东北部康乃迪克州，有一座3层楼高、330平方米的私人图书馆——杰伊?沃克私人图书馆。这座图书馆比起一些公立图书馆来，虽然不够大，但是却足够有意思。</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
