@using System.Web.Optimization
@{
    ViewBag.Title = "LibraryInfoList";
    Layout = "~/Views/Shared/_LayoutFolkLibrary.cshtml";
}

@Scripts.Render("~/Scripts/Ueditor")
<div id="searchPanel" class="easyui-panel" title="数据检索" style="height: 60px;">
    <form id="searchForm">
        <table>
            <tr>
                <td>
                    <label>图书馆名称:</label>
                    <input type="text" class="easyui-textbox" name="LibraryName">
                </td>
                <td>
                    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchData()">查询</a>
                </td>
            </tr>
        </table>
    </form>
</div>
@*结果集*@
<table id="dataGrid" title="功能列表" class="easyui-datagrid" toolbar="#toolbar" pagination="true" rownumbers="true" fitcolumns="true" nowrap="false" url="/LibraryInfo/Search" style="width: 100%;">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true" align="center"></th>
            <th field="LibraryName">图书馆名称</th>
            <th field="InformationFrom">信息来源</th>
            <th field="BuildUserName">创办人</th>
            <th field="BuildDate">创办时间</th>
            <th field="Address" formatter="formatAddress">地址</th>
            <th field="ModifyDateTime">修改时间</th>
            <th field="AttachmentViews" formatter="formatAttachment">图片集</th>
            <th field="UserInfoView" formatter="formatUserInfoView">操作人</th>

        </tr>
    </thead>
</table>

@*增加更新对话框*@
<div id="dlgEdit" class="easyui-dialog" title="编辑图书馆信息" closed="true" style="width:700px;height:500px;padding:10px 10px" buttons="#dlgope-buttons">
    <form id="fm" method="post" novalidate style="width: 90%; text-align: left;">
        <table>
            <tr>
                <td>图书馆名称:</td>
                <td>
                    <input type="hidden" name="LibraryInfoId" id="LibraryInfoId" value="0" />
                    <input name="LibraryName" class="easyui-textbox" style="width: 500px" data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>信息来源:</td>
                <td>
                    <input name="InformationFrom" class="easyui-textbox" style="width: 500px" data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>地址:</td>
                <td>
                    <input id="province" class="easyui-combobox" valuefield="Id" textfield="ProvinceName" style="width: 120px" data-options="required:true">
                    <input id="city" class="easyui-combobox" valuefield="Id" textfield="CityName" style="width: 120px" data-options="required:true">
                    <input id="area" name="AreaId" class="easyui-combobox" valuefield="Id" textfield="AreaName" style="width: 120px" data-options="required:true">
                    <input name="Address" class="easyui-textbox" style="width: 120px;" data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>创办时间:</td>
                <td>
                    <input name="BuildDate" class="easyui-datetimebox" style="width: 500px" data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>创办人:</td>
                <td>
                    <input name="BuildUserName" class="easyui-numberbox" style="width: 500px;" data-options="required:true,min:1">
                </td>
            </tr>
            <tr>
                <td>项目介绍:</td>
                <td><textarea id="LibraryDescription"></textarea></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlgope-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveMenuData()" style="width:70px;">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript: $('#fm').form('clear'), $('#dlgEdit').dialog('close');" style="width:70px;">放弃</a>
</div>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddMenu()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="EditMenu()">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="DeleteMenu()">删除</a>
</div>
<div id='Loading' style="position: absolute; z-index: 1000; top: 0px; left: 0px;
        width: 100%; height: 100%; background: #fff; text-align: center;">
    <h1 style="top: 48%; position: relative; color:#909ba5;">
        <font>正在处理中，请稍后<img src="/Images/4.gif" /></font>
    </h1>
</div>
<script type="text/javascript">
    var pc;
    $.parser.onComplete = function () {
        if (pc) clearTimeout(pc);
        pc = setTimeout(function () {
            $("#Loading").hide();
        }, 1000);
    }
    $(function () {
        resizePanel("searchPanel");
    });
    function resizePanel(panelId) {
        var tempHeight = document.body.height;
        var tempWidth = document.body.width;
        $(window).resize(function () {
            $('#' + panelId).panel("resize",
            {
                width: tempWidth
            });
        });
    }
</script>
<script type="text/javascript">
    $(function () {
        resizePanel("searchPanel");
        initialProvince();
    });
    function resizePanel(panelId) {
        var tempHeight = document.body.height;
        var tempWidth = document.body.width;
        $(window).resize(function () {
            $('#' + panelId).panel("resize",
            {
                width: tempWidth
            });
        });
    }
    function AddMenu() {
        $("#fm").form("clear");
        ue.setContent("");
        $("#dlgEdit").dialog("open");
    }

    function saveMenuData() {
        var validateResult = $("#fm").form("validate");
        if (!validateResult) {
            return;
        }
        var data = $("#fm").serializeJson();
        data.LibraryDescription = $.encodeHTML(ue.getContent());
        $.post("/LibraryInfo/CreateOrModifyLibraryInfo", data, function (data) {
            var dataObj = eval("(" + data + ")");
            $.messager.alert("提示", dataObj.Msg);
            if (dataObj.Flag === "true") {
                $("#dlgEdit").dialog("close");
                searchData();
                $("#fm").form("clear");
                ue.setContent("");
            }
        });
    }

    function EditMenu() {
        var row = $('#dataGrid').datagrid('getSelected');
        if (row) {
            $("#fm").form("load", row);
            $("#province").combobox("setValue", row.AreaView.CityView.ProvinceView.Id);
            $("#city").combobox("setValue", row.AreaView.CityView.Id);
            $("#area").combobox("setValue", row.AreaView.Id);
            ue.setContent($.decodeHTML(row.LibraryDescription));
            $("#dlgEdit").dialog("open");
        } else {
            $.messager.alert("提示", "请选择将要操作的数据");
        }
    }

    function DeleteMenu() {
        var row = $('#dataGrid').datagrid('getSelected');
        if (row) {
            var data = {
                "LibraryInfoId": row.LibraryInfoId
            };
            $.post("/LibraryInfo/DeleteLibraryInfo", data, function (data) {
                var dataObj = eval("(" + data + ")");
                $.messager.alert("提示", dataObj.Msg);
                if (dataObj.Flag === "true") {
                    searchData();
                }
            });
        } else {
            $.messager.alert("提示", "请选择将要操作的数据");
        }
    }

    function searchData() {
        var pageSize = 10;
        var pageIndex = 1;
        var url = "/LibraryInfo/Search?page=" + pageIndex + "&rows=" + pageSize;
        var data = $("#searchForm").serialize();
        $.post(url, data, function (result) {
            var dataObj = eval("(" + result + ")");
            $("#dataGrid").datagrid("loadData", dataObj);
        });
    }

    function initialProvince() {
        $("#province").combobox({
            onChange: function (newValue,oldValue) {
                initialCity(newValue);
            },
            url: "/Province/GetProvince"
        });
    }

    function initialCity(provinceId) {
        $("#city").combobox({
            onChange: function (newValue, oldValue) {
                initialArea(newValue);
            },
            url: "/City/GetCity?ProvinceId=" + provinceId
        });
    }

    function initialArea(cityId) {
        $("#area").combobox({
            url: "/Area/GetArea?CityId=" + cityId
        });
    }

    function formatUserInfoView(value, row) {
        if (value !== null && value !== undefined) {
            return value.UserName;
        } else {
            return "";
        }
    }

    function formatAddress(value, row) {
        if (value !== null && value !== undefined) {
            return value.ProvinceName;
        } else {
            return "";
        }
    }

    function formatAttachment(value, row) {
        if (value !== null && value !== undefined) {
            return "";
        } else {
            return "";
        }
    }
</script>
<script type="text/javascript">
    var ue = UE.getEditor("LibraryDescription", {
        toolbars: [['fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
            'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'insertframe', 'pagebreak', 'template', 'background', '|',
            'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
            'print', 'preview', 'searchreplace']],
        zIndex: 9999,
        initialFrameWidth: 500,
        initialFrameHeight: 600
    });
</script>